<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Contrail One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Amarante' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Charm' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Yantramanav:wght@300&display=swap" rel="stylesheet"> 
    <title>i-NIMC</title>
</head>
<body>
    <div id="body">
<header id="hed1">
    <div id="idname">
        <p id="pname"><span>i</span>-NIMC <i class="fa fa-check"></i><span class="nimc_header">National Identity Management Commission</span></p>
        <span><i class="fa fa-bars" id="bars"></i></span>
    </div>
    <div class="search_cla">
      <input type="search" class="search_i" placeholder="search...">
      <label for="search"><i class="fa fa-search i_search"></i></label>
      <input type="submit" id="search">
    </div>
       <nav class ="nav active" id="nav_1">
           <a href="index" class = "a_nav">Home</a>
           <a href="register" class = "a_nav">Register</a>
           <a href="card" class = "a_nav">Card</a>
           <a href="print.html" class = "a_nav">FAQ</a>
           <a href="print.html" class = "a_nav">About-Us</a>
        </nav>
</header><p id="dat"></p>
       <div class="id_crd">
           <h2 class="fed_rep">Federal Republic Of Nigeria</h2>
           <h6>National Identity Card</h6>
               <img src="../pht/nimc.png" alt="Pst Upload" class="nimclogo">
               <div class="passport">
                   <img src={{userDetail.avatar}} alt="">
               </div>
            
            <div class="nms_pa">
                 <div class="crd">
                    <label for="">Surname:</label>
                    <p>{{userDetail.lastName}}</p>
                </div>
                <div class="crd">
                    <label for="">First Name:</label>
                    <p>{{userDetail.firstName}}</p>
                </div>
                <div class="crd">
                    <label for="">Middle Name:</label>
                    <p> {{userDetail.middleName}} </p>
                </div>
            </div>
            <div class="crd2">
                  <div class="dobdoi">
                    <div class="doi">
                      <label for="">Date Of Birth:</label>
                      <p>{{userDetail.DOB}}</p>
                    </div>
                    <div class="doi">
                      <label for="">Date Of Issue:</label>
                      <p> {{userDetail.time_date_reg}} </p>
                    </div>
                    <div class="doi">
                      <label for="">Sex:</label>
                      <p>{{userDetail.Gender}}</p>
                    </div>
                    </div>
                </div>
            <div class="uni-no">
              <p>{{userDetail.unique_id}}</p>
            </div>
            <div class="expiry">
              <label for="">Expiry:</label>
              <p>06/2026</p>
            </div>
            <div class="passport2">
                   <img src="{{userDetail.avatar}}" alt="">
               </div>
       </div>
    <button id="print_back" class="btn btn-info col-1 offset-7" onclick="print_front()">Print<i class="fa fa-print"></i></button>

        <div class="id_crd2">
            <div class="ppfg">
                <p class="p1bck">
                    This property belongs to the Federal Government Of Nigeria, if found, kindly return to the nearest Police Station around you or to the bearer whose name and phone number appear on it.
                </p>
            </div>
            <div class="conDe">
                <div class="conDetails">
                    <div class="labelNumber">
                        <label for="">Phone No:</label>
                        <p class="pnumber">{{userDetail.Phone}}</p>
                    </div>
                    <div class="labelstate">
                        <label for="">State:</label>
                        <p class="state">{{userDetail.State}}</p>
                    </div>
                    <div class="labellga">
                        <label for="">LGA:</label>
                        <p class="lga">{{userDetail.LGA}}</p>
                    </div>
                </div>
                <div class="samples">
                    <p class="bg">Blood Group: {{userDetail.BG}}</p>
                    <p class="gt">Genotype: {{userDetail.GT}}</p>
                </div>
            </div>
       </div>
    <button id="print_back" class="btn btn-info col-1 offset-7" onclick="print_back()">Print <i class="fa fa-print"></i></button>
       
    <footer class="footer_1">
    <div class="footer_ele">
      <h3 class="footer_h3">Our Partners</h3>
      <img src="../pht/partners.jpg" alt="Partners" class="img_footer_part">
    </div>
    <div id="id_footer">
      <p id="pname_footer"><span>i</span>-NIMC <i class="fa fa-check"></i></p>
  </div>
  <div class="id_footer_2">
    <div class="footer_url1">
      <h3 class="footer_url_h3">About</h3>
      <a href="#">NIMC</a>
      <a href="#">ID Generation</a>
      <a href="#">Use Of Card</a>
      <a href="#">Importance</a>
    </div>
    <div class="footer_url1">
      <h3 class="footer_url_h3">Contact-Us</h3>
      <a href="#">Leave A Message</a>
      <a href="#">Suggestion</a>
      <a href="#">DG NIMC</a>
      <a href="#">Other Site</a>
      <a href="#">Chat With A Bot</a>
      <a href="#">Description</a>
    </div>
    <div class="footer_url1">
      <h3 class="footer_url_h3">Partners</h3>
      <a href="#">Federal Inland Revenue Service (FIRS)</a>
      <a href="#">Nigeria Imigration Service (NIS)</a>
      <a href="#">Joint Admission and Matriculation Board (JAMB)</a>
      <a href="#">Corprate Affairs Commission (CAC)</a>
      <a href="#">The Nigeria Police (NPF)</a>
    </div>
    <div class="footer_url1">
      <h3 class="footer_url_h3">Help Lines</h3>
      <p>08022345679</p>
      <p>08022345670</p>
      <p>08052345679</p>
      <p>08052345670</p>
      <p>08032345679</p>
      <p>09032345670</p>
    </div>
  </div>
  </div>
      
    </footer>
    
    <script src="../jscript/script.js"></script>
    <script src="print.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>